<div class="backdrop is-hidden" cabinet-modal> //
    <div class="modal modal-cabinet-user">
        <button type="button" class="btn-close" cabinet-modal-close>
            <svg class="btn-close__icon" width="11" height="11">
                <use href="./images/symbol-close.svg#icon-close"></use>
            </svg>
        </button>
        <div class="cabinet-modal">
            <!--<div class="cabinet-modal__emblem">
                <p class="cabinet-modal__symb">D</p>
            </div>
            <p class="cabinet-modal__email">denis@gmail.com</p>
            <button class="cabinet-modal__out">SIGN OUT</button>-->
        </div>
    </div>
</div>
