<header class="header">
  <div class="nav__container">
    <a href="" class="logo">
      <span class="logo__text">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="menu list">
        <li class="menu__item">
          <a href="" class="link current menu__link menu__link-home">Home</a>
        </li>
        <li class="menu__item">
          <a href="" class="link menu__link menu__link-lib">My library</a>
        </li>
      </ul>
    </nav>
  </div>
  <form id="search-form" action="" class="search">
    <input class="search__input" type="text" placeholder="Movie search" />
    <button class="search__button" type="submit" title="Go!"></button>
  </form>
</header>
