<div class="backdrop">
  <div class="modal-window__film">
    <div class="modal-window__image">
      <img src="${imgUrl}" alt="${title}" loading="lazy" data-id="${id}">

    </div>
    <div class="modal-window__content">
      <h2 class="modal-window__film--title" data-id="${id}">${title}</h2>
      <div class="modal-window__info">
        <ul class="modal-window__info--list">
          <li class="modal-window__info--content">
            <p class="modal-window__review--text">Vote / Votes</p>
            <p class="modal-window__info--vote-votes"><span class="modal-window__data--vote">${vote_average}</span> /
              <span class="modal-window__data--votes">${vote_count}</span></p>
          </li>
          <li class="modal-window__info--content">
            <p class="modal-window__review--text">Popularity</p>
            <p class="modal-window__data--popul">${popularity
              .toString()
              .slice(0, -4)}</p>
          </li>
          <li class="modal-window__info--content">
            <p class="modal-window__review--text">Original Title</p>
            <p class="modal-window__data--title">${original_title}</p>
          </li>
          <li class="modal-window__info--content">
            <p class="modal-window__review--text">Genre</p>
            <p class="modal-window__data--genre">${genres.map(gen => gen.name)}</p>
          </li>
        </ul>
      </div>
      <h3 class="modal-window__about-film">ABOUT</h3>
      <p class="modal-window__film--overview">${overview}</p>
      <div class="modal-window__buttons">
        <button class="modal-window__btn--watched" type="button">ADD TO WATCHED</button>
        <button class="modal-window__btn--queue" type="button">ADD TO QUEUE</button>
      </div>
    </div>
    <button class="modal-window__btn--close" type="button">
      <svg class="modal-window__close-icon" width="20" height="20">
        <use href="./images/sprite.svg#close-button"></use>
      </svg></button>
  </div>
</div>