<div class="team-modal-wraper">
    <div class="team-modal">
        <h2 class="team__title">Our team</h2>        
        <ul class="team__list">
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Piddubnyi Oleksandr">
                </div>
                <h3 class="teammate__name">Piddubnyi Oleksandr</h3>
                <p class="teammate__role">Team-lead</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/AlexandrPoddubnyi">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/alexey-grishchenko-43a6a267/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>    
                </ul>
                <a class="social__element social__email" href="mailto: san4oss91@gmail.com">san4oss91@gmail.com</a> 
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Gryshchenko Oleksii">
                </div>
                <h3 class="teammate__name">Gryshchenko Oleksii</h3>
                
                <p class="teammate__role">Scrum-master</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/gr-alexey">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/alexey-grishchenko-43a6a267/">
                            <svg class="social__icon social__link--li">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="social__element social__email" href="mailto:gryshchenko.oleksii@gmail.com">gryshchenko.oleksii@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Artem Horiuk" >
                </div>
                <h3 class="teammate__name">Artem Horiuk</h3>
                <p class="teammate__role">Developer</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon social__link--li">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="social__element social__email" href="mailto:artemgoryuk@gmail.com">artemgoryuk@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Anatoliy Tymoshenko">
                </div>
                <h3 class="teammate__name">Anatoliy Tymoshenko</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <a class="social__element social__email" href="mailto:anatoliy.tymoshenko.work@gmail.com">anatoliy.tymoshenko.wrok@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Anton Plish" >
                </div>
                <h3 class="teammate__name">Anton Plish</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>     
                </ul>
                <a class="social__element social__email" href="mailto:antonplish@gmail.com">antonplish@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Andrii Bukalo" >
                </div>
                <h3 class="teammate__name">Andrii Bukalo</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>     
                </ul>
                <a class="social__element social__email" href="mailtto:bukaloandrey@gmail.com">bukaloandrey@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Demian Pashkovskyi" >
                </div>
                <h3 class="teammate__name">Demian Pashkovskyi</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>       
                </ul>
                <div class="social__element social__email" href="mailto:skyangely4@gmail.com">skyangely4@gmail.com</div>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Antonina Tarasiuk" >
                </div>
                <h3 class="teammate__name">Antonina Tarasiuk</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <div class="social__element social__email" href="mailto:antoshka.tarasyuk@gmail.com">antoshka.tarasyuk@gmail.com</div>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Yurii Kucher" >
                </div>
                <h3 class="teammate__name">Yurii Kucher</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <div class="social__element social__email" href="mailto:dev@kucha.kiev.ua">dev@kucha.kiev.ua</div>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Piddubnyi Oleksandr" >
                </div>
                <h3 class="teammate__name">Oleg Pavlenko</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/OlehPavlenko">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/олег-павленко-34b0a2228">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>   
                </ul>
                <div class="social__element social__email" href="pavlenko.zevs@gmail.com">pavlenko.zevs@gmail.com</div>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Piddubnyi Oleksandr" >
                </div>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>   
                </ul>
                <div class="social__element social__email">Email: anatoliy.tymoshenko.work@gmail.com</div>
            </li>
        </ul>
    </div>
</div>