.auth {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.auth-form {

    width: 320px;
    margin: auto;
    background-color: black;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 16px rgba(255, 196, 0, 0.6);

    @include tab {
        width: 600px;
        padding: 40px;
    }

    &__welcome {
        font-size: 48px;
        color: red;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid orange;
    }
}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px auto 0;

    @include tab {
        width: 500px;
        margin: 50px auto 0;
    }

    &__title {
        font-size: 30px;
        color: red;
        text-align: center;
        margin: 0 0 15px 0;

        @include tab {
        margin: 0 0 30px 0;
        }
    }

    &__input {
        font-size: 18px;
        border: 1px solid rgba(161, 161, 161, 05);
        border-radius: 4px;
        padding: 10px 6px;
        outline: none;

        &:hover {
            border: 1px solid orange;
            box-shadow: 0 0 14px orange;
        }

        &:focus {
            border: 1px solid orange;
            box-shadow: 0 0 14px orange;
        }
    }

    &__input + &__input {
        margin-top: 15px;

        @include tab {
        margin-top: 30px;
        }
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        margin-top: 15px;

        @include tab {
            margin-top: 40px;
        }
    }

    &__btn {
        font-size: 14px;
        font-weight: 600;
        color: white;
        width: 90px;
        border: none;
        border-radius: 4px;
        background-color: orange;
        padding: 12px 6px;
        margin: 0 auto;
        cursor: pointer;

        @include tab {
            width: 150px;
            font-size: 20px;
        }

        &:hover {
            box-shadow: 0 0 14px orange;
        }

        &:focus {
            box-shadow: 0 0 14px orange;
        }
    }

}

.auth-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 10px auto 0 auto;
    width: 100%;

    @include tab {
        margin: 70px auto 0 auto;
        padding: 30px 0;
    }

    &__item {
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 14px orange;
        }

        &:focus {
            box-shadow: 0 0 14px orange;
        }
    }

    &__item + &__item {
        margin-left: 25px;

        @include tab {
            margin-left: 50px;
        }
    }

    &__icon {
        width: 50px;
    }
}

.google-item {
    background: rgb(255, 255, 255);
    background: linear-gradient(308deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.google-icon {
    fill: rgb(241, 9, 40);
}

.twitter-item {
    background: rgb(255, 255, 255);
    background: linear-gradient(308deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.twitter-icon {
    fill: orange;
}

.facebook-item {
    background: rgb(255, 255, 255);
    background: linear-gradient(308deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.facebook-icon {
    fill: red;
}