.cabinet-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: black;
    padding: 24px;
    box-shadow: 0 8px 23px #ff6b0199;

    &__emblem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border: 2px solid ff6b0199;
        border-radius: 50%;
        box-shadow: 0 8px 23px #ff6b0199;
    }

    &__symb {
        color: orange;
        font-size: 68px;
    }

    &__email {
        color: orange;
        margin-top: 20px;
    }

    &__out {
        color: white;
        background-color: black;
        border: 1px solid red;
        border-radius: 4px;
        padding: 4px 6px;
        cursor: pointer;
        margin-top: 40px;

        &:hover {
            background-color: orange;
            border-color: orange;
            box-shadow: 0 8px 23px #ff6b0199;
        }
    }
}